*{
    margin: 0;
}
a{
    text-decoration: none;
}
.left{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background-color: rgb(128 128 128);
}
.touxiang{
    height: 108px;
    width: 108px;
    border:1px solid black;
    border-radius: 50%;
    margin: 40% auto 20px auto;
    overflow: hidden;
}
.touxiang>img{
    /*height: 108px;*/
    width: 100%;
}

.nicheng{
    font-size: 25px;
    font-family: 楷体 ;
    /*background-color: rgb(100 100 100);*/
    color: rgb(100 100 100);
    text-align: center ;
}
.nicheng:hover,.qianming:hover,.weixin:hover,.gongzhonghao:hover{
    color: rgb(220 220 220);
}

.qianming{
    margin-top: 40px;
    font-size:20px ;
    text-align: center;
}
.gongzhonghao{
    margin-top: 60px;
    font-size: 18px;
    text-align: center;
}
.weixin{
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

.right{
    float: right;
    width: 80%;
    height: 100%;
    background-color: rgb(180 180 180);
    margin-left: 10px;
}
.right::after{
    clear: both;
}
.wenben{
   /*background-color: rgb(200 200 200);*/
    text-align: center;
    background-color: antiquewhite;
    margin:5px 40px 50px 40px;
    border-radius: 19px;
    padding: 15px 15px;

}
.wenben>p{
    width: 100%;
}
.wenben:hover{
    color: green;
    font-size: 20px;
}